@media screen and (min-width: 600px) {
header {
    grid-template-columns: 24px auto;
}
header,nav, main, footer {
    max-width: 900px;
    margin: 0 auto;
}

#ham-btn {
    display:none;
}

.navigation {
    display: block;
    border-bottom: 1px solid var(--grey);
}
.navigation ul {
    display: flex;
    padding-right: 2rem;
}

.navigation ul a {
    border: none;
}

.sections {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
}
.course-requirements {
    grid-column: 1/3;
}

}