/* COLOR SCHEME
hsl(209, 47%, 14%)
hsl(43, 41%, 72%)
*/

:root {
    --primary-blue: hsl(209, 47%, 14%);
    --primary-yellow: hsl(43, 41%, 72%);
    --grey: hsl(0, 0%, 89%);
    --gray: 0, 0%, 89%;
    
}


.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
    margin: 0 auto;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header, main, footer {
    margin: 0 auto;
    max-width: 95%;
}

header {
    margin-top: 1px;
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px;
    border-bottom: solid 1px var(--grey);
    gap: 2rem;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

/*==================HAMBURGER==================*/

.hamburger {
    background: none;
    /* border: 1px solid var(--primary-blue); */
    border: 2px solid transparent;
    font: var(--primary-blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px hsl(0, 0%, 50%);
    color: hsl(0, 1%, 35%)
}

.hamburger::after {
    content: "\2630";
}

.hamburger.show::after {
    content: "\00D7";
}

/*===================NAV LIST===================*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;

}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul a {
    text-decoration: none;
    display: block;
    padding: .4rem 1rem;
    color: var(--primary-blue);
    border-bottom: 2px solid var(--grey); 

}

.navigation li.current {
    background-color: var(--grey);
}

.navigation li:hover {
    background-color: var(--primary-yellow);
}

/*===================Main===================*/

section h2 {
    background-color: hsl(0, 0%, 31%);
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 2px;
    text-align: center;
    
}

section p {
    margin: 0;
    padding: 10px;
}

section:not(.business-card) {
    margin: 12px;
    background-color: var(--grey);
    min-height: 140px;
}

/*===========Web Certificate Courses===========*/

button:hover {
    background-color: var(--primary-yellow);
    cursor: pointer;
}

button.active:hover {
    border-bottom: 5px solid var(--primary-yellow);
}

button.active {
    background-color: var(--primary-blue);
    color: hsl(0, 0%, 100%);
}

/*===================Footer===================*/

.social {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 6px;
}

footer {
    text-align: center;
    background-color: var(--grey);
}

footer div {
    margin: 5px 0;
}

#info {
    margin: 0;
    padding: 6px;
    font-weight: 700;
}

.businesses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.business-img {
    display: flex;
    justify-content: center;

    width: 70%;
}

.business-card {
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    align-items: start;
    padding-bottom: 5px;
    background-color: var(--grey);
    margin: 12px;
}

.business-card img {
    width: 98%;
    border: 2px solid var(--grey)    
}

.business-card p, .business-card h3, a {
    text-align: center;
    margin: 0;
}

.business-card a {
    display: block;
}

.Bweather {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-view {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.change-view {
    width: 5rem;;
    background: var(--gray);
    border: 2px transparent;
    padding: 6px;
    border-radius: 6px;
    font-weight: bold;
    font-size: large;
    background-color: rgb(78, 78, 83);
    color: white;
}

h1 {
    display: flex;
    justify-content: space-around;
}

.change-view.change  {
    background-color: var(--primary-blue);
    color:white;
}

.cng img {
    display: none;    
}

.cng {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cng .div1 {
    display: none;
}

.cng section {
    display: block;
    width: 300px;
    text-align: center;
}

.change img {
    background-color: var(--primary-blue);
}

.bg-image img {
    width: 865px;  
    height: auto;
}

.bg-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#spotlight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}

/*===========================Custom Small===========================*/
@media screen and (max-width: 700px) {
    .Bweather {
        display: flex;
        flex-direction: column;
    }

    .businesses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .businesses.cng {
        display: flex;
        flex-direction: column;
    }

    main {
        max-width: 550px;
    }

    #accra-image {
        max-width: 400px;
        height: auto;
        border: none;
    }
}